
body
{
    color: blueviolet; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header
{
    position: fixed;
}

h1 
{color: cadetblue;}

h2, h3 
{color: darkcyan;}

p 
{background-color: aqua;}

.titulo1 
{ background-color:darkorange;} 

